<!DOCTYPE html><html lang="pt-br">

<head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{{ url_for('static', filename="css/home-base.css") }}">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
</head>
  <body class="corpo">
      <h1 class="tituloPrincipal" > EasyFin  </h1>
    
  <main class="mainBody">


  </main>
  <footer class="rodape">


  </footer>



  </body>
