<!DOCTYPE html><html lang="pt-br">

<head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{{ url_for('static', filename="css/styles.css") }}">
      <link rel="stylesheet" href="{{ url_for('static', filename="css/padrao.css") }}">
      <link rel="preconnect" href="https://fonts.gstatic.com">

      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">

</head>
  <body class="corpo">
      <h1 class="tituloPrincipal" > EasyFin  </h1>
    <header class="cabecalho">
        <nav class="areaLogin">
            <button class="botaoLogin" type="button" name="botaoLogin"><a href="log-in"> Log-in </a></button>
            <button class= "botaocontato" type="button" name="botaocontato"> Contate-nos </button>
 </nav>
    </header>
  <main class="mainBody">


  </main>
  <footer class="rodape">


  </footer>



  </body>
