{% extends 'logged-base.html' %}
{% block contect %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/perfil.css') }}">
<div class="row">
    <div class="col-12">
        <img src="{{ url_for('static', filename=foto_perfil) }}" class="img-fluid imgProfile" alt="Responsive image">
        <a href="{{ url_for('perfil_upload_img', user=current_user.nome) }}"><button type="button" class="btn btn-light" style="font-size: 14px;">Mudar Imagem</button></a>
        <p class="nameProfile">{{ current_user.nome }} {{ current_user.sobrenome }}</p>
    </div>
    {% block upload %}
    {% endblock %}
</div>
<div class="row" style="margin-top: 30px;">
    <div class="col-lg-4"> 
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text inputDesc" id="basic-addon1">E-mail</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" value="{{ current_user.email }}" disabled>
          </div>
    </div>
    <div class="col-lg-4">
    </div>
</div>


{% endblock %}
