{% extends 'logged-base.html' %}
{% block contect %}
<div class="row">
    <div class="col-lg-4">
        <h2 class="subTitulo">Remover Escola</h2>
    </div>
    <form method="GET" action="">
        <select name="Cartypes" onchange="this.form.submit()">
          <option value="0" selected>Select Model</option>
          {% for escola in escolas %}
            <option value="{{escola}}">{{escola}}</option>
          {% endfor %}
        </select>
      </form>
</div>
<script>
    

</script>
{% endblock %}